/* 
    Created on : 23/11/2013, 01:50:32 PM
    Author     : <a href="mailto:mosquerapuello@gmail.com">Cristian Mosquera</a>
*/

.usersColumn {
    width: 20%;
}

.publicColumn {
    width: 80%;
}

.columnLabel {
    font-weight: bold;
    width: 200px;
    text-align: right;
}

.columnValue {
    width: 300px;
    text-align: left;
}


div.ui-datepicker{
font-size:0.7em;
} 

.chatlogs {
    height: 200px;
    overflow: auto;
    padding: 0.5em 1em 0.5em 0.5em;
}
.ui-widget {
    font-size: 12px !important;
}
.ui-corner-all {
    border-radius: 3px;
}
.ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8A8A8;
    color: #4F4F4F;
}







