<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
      template="./template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      >
    
    <ui:define name="content" id="content">
        <p:layoutUnit position="center" style="text-align: center;font-size: 0.7em " id="layoutCenter" size="700"> 
            <p:growl id="growl" autoUpdate="true" />  
            
            <h:form id="formFilterAuction"> 
                <p:outputPanel id="panelAuctionOffers">
                <h:panelGroup id="auctionOffers" rendered="#{auctionView.chatAllowed}">  
                <p:fieldset id="container" legend="Ofertas" toggleable="true" >
                    
  
                
                <h:panelGrid columns="6" >
                    <p:outputLabel value="Ronda:">
                        
                    </p:outputLabel>
                    <p:outputLabel value="#{auctionView.currentRound.number}" id="roundNumber">
                    </p:outputLabel> 
                    <p:outputLabel value="Transcurrido:">
                        
                    </p:outputLabel>
                    <p:outputLabel value="#{auctionView.currentRound.timeTranscurred}" id="timeTranscurred">
                    </p:outputLabel> 
                    <p:outputLabel value="Definido:">
                        
                    </p:outputLabel>
                    <p:outputLabel value="#{auctionView.timeDefined}" id="timeDefined">
                    </p:outputLabel> 
                    <p:poll interval="1"   
                            listener="#{auctionView.loadPolling()}"
                            update=":formFilterAuction:pChatInput,:formFilterAuction:roundNumber
                            ,:formFilterAuction:sendOffer,:formFilterAuction:timeTranscurred
                            ,:formFilterAuction:retire" process="@this"/>
                </h:panelGrid>        
            <h:panelGrid columns="2" columnClasses="publicColumn,usersColumn" style="width:100%">  
                <p:inputTextarea id="pChatInput"  rows="10" cols="50" 
                                 style="width: 95%" readonly="true" value="#{auctionView.offerInScreen}"/>  
  
                <p:dataList id="users" var="user"  >  
                    <f:facet name="header">  
                        Usuarios  
                    </f:facet>  
  
                    <p:commandButton title="Chat" icon="ui-icon-comment" >  
                        
                    </p:commandButton>  
                    
                </p:dataList>  
            </h:panelGrid>  
  
            <p:separator />  
            <div align="left">
                <p:inputText style="width: 400px;"  id="messageInput" 
                             required="true" requiredMessage = "El valor de la oferta es requerido" validatorMessage="El valor debe ser numerico "
                             value="#{auctionView.offer.value}"  disabled="#{!auctionView.allowedOffer}" >
                     
                </p:inputText>
                <p:spacer width="5" />  
                <p:commandButton value="Enviar" action="#{auctionView.sendOffer()}" id="sendOffer" 
                                  process="@form" validateClient="true" disabled="#{!auctionView.allowedOffer}"
                                  update=":formFilterAuction:auctionInformationAdmin,:formFilterAuction:panelAuctionOffers,
                     :formFilterAuction:containerAuctionRound"/>  
                <p:commandButton value="Retirarse" id="retire" disabled="#{!auctionView.allowedOffer}">
                   
               </p:commandButton>
                <p:spacer width="5" />  
                
            </div>
           
        </p:fieldset>  
    </h:panelGroup>                      
  </p:outputPanel>   
                <p:spacer width="10"/>
         <h:panelGroup id="auctionInformationAdmin" rendered="#{auctionView.amin}"> 
        
             <p:fieldset id="containerAuctionInformation" legend="Subasta" toggleable="true"> 
                 <h:panelGrid columns="4" columnClasses="columnLabel,columnValue,columnLabel,columnValue">
               <h:outputLabel value="Nombre:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.name}"/>
               <h:outputLabel value="Valor inicial:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.startValue}"/>
               <h:outputLabel value="Fecha creación:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.createdDate}"/>
               <h:outputLabel value="Fecha Inicio:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.startDate}"/>
               <h:outputLabel value="Porcentaje mínimo:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.minPorcent}"/>
               <h:outputLabel value="Tiempo por ronda:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.timeForRound}"/>
               <h:outputLabel value="Convocatoria:"/>
               <h:outputLabel value="#{auctionView.auctionSelected.convenning.description}"/>
               <h:outputLabel value="Estado:"/>
               <p:selectOneMenu value="#{auctionView.auctionSelected.status}" 
                                     id="typeMovement" required="true"
                                     requiredMessage="Debe un item" style="width: 120px" 
                                     rendered="#{auctionView.allowedStausChangeStatus}"  >
                   <p:ajax listener="#{auctionView.changeStatus()}" 
                           update=":formFilterAuction:auctionInformationAdmin,:formFilterAuction:panelAuctionOffers" process="@form" async="true"/>
                        <f:selectItem itemLabel="Seleccione" itemValue="#{null}" />
                        <f:selectItem itemLabel="Creada" itemValue="CREATED" />
                        <f:selectItem itemLabel="Abierta" itemValue="OPEN" />
                        <f:selectItem itemLabel="Cerrada" itemValue="CLOSED" />
                        
                </p:selectOneMenu>      
               <h:outputLabel value="#{auctionView.auctionSelected.status}" rendered="#{!auctionView.allowedStausChangeStatus}"/>
               <h:outputLabel value="Productos:"/>
               <p:commandLink value="ver" oncomplete="dlgViewAuctionProducts.show();" action="#{auctionView.viewProductsAuction()}" process="@this"></p:commandLink>
               <h:outputLabel value="Aspirantes:"/>
               <p:commandLink value="ver" oncomplete="dlgViewAspirants.show();" 
                              process="@this" action="#{auctionView.viewAspirantsAuction()}">
                   
               </p:commandLink>
               <h:outputLabel value="Ganadores:"/>
               <p:commandLink value="ver"  oncomplete = "dlgViewAuctionWiners.show();" 
                              process="@this" update=":outPanelViewAuction" action="#{auctionView.viewWinnersAuction()}">
                    <f:setPropertyActionListener value="#{auctionView.auctionSelected.winners}" 
                                                 target="#{auctionView.inscribedSelected}"/>
               </p:commandLink>
               <h:outputLabel value=""/>
               <p:commandButton value="Iniciar Subasta"
                     update=":formFilterAuction:auctionInformationAdmin,:formFilterAuction:panelAuctionOffers,
                     :formFilterAuction:containerAuctionRound"
                                action="#{auctionView.changeStatus()}" 
                                process="@this" rendered="#{auctionView.allowedStartAuction}">  
                   <f:setPropertyActionListener value="STARTED" 
                                                 target="#{auctionView.auctionSelected.status}"/>
               </p:commandButton>    
               
           </h:panelGrid>          
                 
                  
       </p:fieldset>
             <p:spacer width="10"/>
       <p:fieldset id="containerAuctionInscribed" legend="Inscritos" toggleable="true"> 
           <p:dataTable value="#{auctionView.inscribedsByAction}" var = "inscribed"> 
               <p:column headerText="Nombres" >#{inscribed.name} #{inscribed.lastName}</p:column>
               <p:column headerText="Tipo id" >#{inscribed.identificationType}</p:column>
               <p:column headerText="Id" >#{inscribed.identificationNumber}</p:column>
               <p:column headerText="Telefono" >#{inscribed.phone}</p:column>
               <p:column headerText="E-mail" >#{inscribed.email}</p:column>
               <p:column headerText="Usuario" >#{inscribed.userName}</p:column>
               <p:column headerText="Productos" >
                   <p:commandLink value="ver" 
                           process="@none" update=":outPanelViewAuction" 
                           oncomplete="dlgViewInscribedProducts.show();" action="#{auctionView.viewProductsInscribed()}">
                   <f:setPropertyActionListener value="#{inscribed}" 
                                                target="#{auctionView.inscribedSelected}"/>
                       
                   </p:commandLink></p:column>
           </p:dataTable>
       </p:fieldset>   
            <p:spacer width="10"/> 
              <p:fieldset id="containerAuctionRound" legend="Rondas" toggleable="true"> 
               <p:dataTable value="#{auctionView.auctionSelected.rounds}" var = "round"> 
                   <p:column headerText="Numero" >#{round.number}</p:column>
                   <p:column headerText="Fecha creación" >#{round.createdDate}</p:column>
                   <p:column headerText="Estado" >#{round.status}</p:column>
                   <p:column headerText="Inscritos" >
                       <p:commandLink value="ver" process="@this" action="#{auctionView.viewInscribedRound()}" 
                                      oncomplete="dlgViewAuctionWiners.show();" update=":outPanelViewAuctionWiners">
                           <f:setPropertyActionListener value="#{round}" 
                                                        target="#{auctionView.roundSelected}"/>
                           <f:setPropertyActionListener value="#{round.inscribeds}" 
                                                        target="#{auctionView.inscribesSelected}"/>
                       </p:commandLink>
                   </p:column>
                   <p:column headerText="Ofertas" >
                       <p:commandLink value="ver" process="@this" 
                                      action="#{auctionView.viewOffers()}" 
                                       update=":dialogViewOffer" oncomplete ="dlgViewOffer.show();">
                           <f:setPropertyActionListener value="#{round}" 
                                                        target="#{auctionView.roundSelected}"/>
                           
                       </p:commandLink>
                   </p:column>
                   <p:column headerText="Ganadores" >
                       <p:commandLink value="ver" process="@this" 
                                      oncomplete="dlgViewAuctionWiners.show();" 
                                      update=":outPanelViewAuctionWiners" 
                                      action="#{auctionView.viewWinnersRound()}" >
                           <f:setPropertyActionListener value="#{round}" 
                                                        target="#{auctionView.roundSelected}"/>
                       </p:commandLink>
                   </p:column>
               
                    
           </p:dataTable>
       </p:fieldset>
        
     </h:panelGroup>
  
    

            </h:form>  
        </p:layoutUnit>
        
        <p:dialog header="Ofertas" widgetVar="dlgViewOffer" id="dialogViewOffer" modal="true">
          
             <p:outputPanel id="outPanelViewOffer">
                 <p:dataTable value="#{auctionView.offersSelected}" var="offer">
                     <p:column headerText="Inscrito">#{offer.inscribed.name} #{offer.inscribed.lastName}</p:column>
                     <p:column headerText="Fecha">#{offer.createdDate }</p:column>
                     <p:column headerText="Valor">#{offer.value}</p:column>
                 </p:dataTable>
                 
            </p:outputPanel>
        </p:dialog>    
        
        
        <p:dialog header="Productos" widgetVar="dlgViewAuctionProducts" id="dialogViewAuctionProducts" modal="true">
          
             <p:outputPanel id="outPanelViewAuction">
                 <p:dataTable value="#{auctionView.auctionSelected.auctionProducts}" var="product">
                     <p:column headerText="Nombre">#{product.product.name}</p:column>
                     <p:column headerText="Cantidad">#{product.quantity}</p:column>
                     <p:column headerText="Precio">#{product.price}</p:column>
                     <p:column headerText="SubTotal">#{product.subTotal}</p:column>
                 </p:dataTable>
                 <p:spacer width="5"/>
                 <h:panelGrid columns="2" columnClasses="columnLabel,columnValue">
                     <h:outputLabel value="Total" />
                     <h:outputLabel value="#{auctionView.totalProductAuction}" />
                 </h:panelGrid>
            </p:outputPanel>
        </p:dialog>    
        
        
            <p:dialog header="Ganadores" widgetVar="dlgViewAuctionWiners" id="dialogViewAuctionWiners" modal="true">
          
             <p:outputPanel id="outPanelViewAuctionWiners">
                 <p:dataTable value="#{auctionView.inscribesSelected}" var="winner">
                     <p:column headerText="Nombres" >#{winner.name} #{winner.lastName}</p:column>
               <p:column headerText="Tipo id" >#{winner.identificationType}</p:column>
               <p:column headerText="Id" >#{winner.identificationNumber}</p:column>
               <p:column headerText="Telefono" >#{winner.phone}</p:column>
               <p:column headerText="Phone" >#{winner.phone}</p:column>
               <p:column headerText="E-mail" >#{winner.email}</p:column>
                 </p:dataTable>
                 
            </p:outputPanel>   

        
    </p:dialog>
            
    <p:dialog header="Aspirantes" widgetVar="dlgViewAspirants" id="dialogViewAspirants" modal="true">
          
             <p:outputPanel id="outPanelViewAspirants">
                 <p:dataTable value="#{auctionView.auctionSelected.aspirants}" var="aspirant">
                     <p:column headerText="Nombres" >#{aspirant.name} #{aspirant.lastName}</p:column>
               <p:column headerText="Tipo id" >#{aspirant.identificationType}</p:column>
               <p:column headerText="Id" >#{aspirant.identificationNumber}</p:column>
               <p:column headerText="Telefono" >#{aspirant.phone}</p:column>
               <p:column headerText="Phone" >#{aspirant.phone}</p:column>
               <p:column headerText="E-mail" >#{aspirant.email}</p:column>
                 </p:dataTable>
                 
            </p:outputPanel>   

        
    </p:dialog>
        
         <p:dialog header="Productos" widgetVar="dlgViewInscribedProducts" id="dialogViewInscribedProducts" modal="true">
          
             <p:outputPanel id="outPanelViewnscribedProducts">
                 <p:dataTable value="#{auctionView.inscribedSelected.inscribedProducts}" var="product">
                     <p:column headerText="Nombre">#{product.product.name}</p:column>
                     <p:column headerText="Cantidad">#{product.quantity}</p:column>
                     <p:column headerText="Precio">#{product.price}</p:column>
                     <p:column headerText="SubTotal">#{product.subTotal}</p:column>
                 </p:dataTable>
                 <p:spacer width="5"/>
                 <h:panelGrid columns="2" columnClasses="columnLabel,columnValue">
                     <h:outputLabel value="Total" />
                     <h:outputLabel value="#{auctionView.totalProductAuction}" />
                 </h:panelGrid>
            </p:outputPanel>
        </p:dialog>    
       
    </ui:define>
    
</ui:composition>

