<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
      template="./template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      >
    
    <ui:define name="content" id="content">
        <p:layoutUnit position="center" style="text-align: center;font-size: 0.7em " id="layoutCenter" size="700"> 
            <h:form  id="formFilterAuction"> 
              <h:panelGrid columns="4" >
                <p:outputLabel for="auctionName"> Nombre subasta:</p:outputLabel>
                <p:inputText label="Nombre subasta:" size="20" id="auctionName" 
                             value="#{auctionView.auctionName}">
                    
                </p:inputText>
                
                <p:outputLabel for="aspirantFilter"> Aspirante:</p:outputLabel>
                <p:inputText label="Aspirante" size="20" id="aspirantFilter" 
                             value="#{auctionView.aspirantFilter.name}">
                    
                </p:inputText>
                <p:outputLabel for="startDateFilter"> Fecha inicio:</p:outputLabel>
                <p:calendar 
                    mode="popup" showOn="button" id="startDateFilter" 
                            size="15" value="#{auctionView.startDate}" pattern="dd/MM/yyyy"
                />

                <p:outputLabel for="endDateFilter"> Fecha fin:</p:outputLabel>
                <p:calendar 
                    mode="popup" showOn="button" id="endDateFilter" 
                        size="15" value="#{auctionView.endDate}" pattern="dd/MM/yyyy"
                 />

              </h:panelGrid>
                <table width="500px">
                    <tr>
                        <td width="100%" align="right"> 
                            <p:commandButton  value="Filtrar"  
                                process="@form" id="buttonFilter"
                                action="#{auctionView.filterAuctions()}" 
                                update=":formFilterAuction:tableAuctions">
                            </p:commandButton>
                        </td> 
                    </tr>
                </table>
                
                <p:spacer width="10px;"></p:spacer>
                <p:dataTable value="#{auctionView.auctions}" var="auction" id="tableAuctions">
                    <p:column headerText="Nombre">#{auction.name}</p:column>
                    <p:column headerText="Estado">#{auction.status}</p:column>
                    <p:column headerText="Fecha creación">#{auction.createdDate}</p:column>
                    <p:column headerText="Hora inicio">#{auction.startDate}</p:column>
                    <p:column headerText="Accion">
                        
                         <p:commandLink 
                                action="#{auctionView.selectAuction()}"
                                ajax="false"
                                value="ir">
                                
                         <f:setPropertyActionListener value="#{auction}" 
                                                      target="#{auctionView.auctionSelected}"/>
                            </p:commandLink>
                    </p:column>
                </p:dataTable>  
            </h:form>  
        </p:layoutUnit>
        
       
    </ui:define>
    
</ui:composition>

