<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
      template="./templateInit.xhtml"
      xmlns:p="http://primefaces.org/ui"
      >
       
    <ui:define name="content" id="content">
   
        <p:layoutUnit position="center" style="font-size:12px; font-family: Arial;"> 
            
            <h:form prependId="false">
                  <table  style="  position: absolute;top: 20%;height: 60%;left: 20%;
                        width: 60%;" >
                      <tr>
                          <td width="100%" align="center" valign="middle">
                              <p:panel header="Inicio de Session" style="width: 500px" id="panelSession">
              <p:fieldset legend="Ingrese usuario y contraseña">
                  <table>
                      <tr>
                          <td><h:outputLabel value="Usuario"/></td>
                          <td>
                              <p:inputText value="#{personView.user}" 
                                           id="user" required="true"
                                           style="width: 210px"      
                                    requiredMessage="Debe Digitar el usuario"/>
                              
                          </td>
                          <td><p:message for="user" display="text" id="msgUser"/></td>
                      </tr>
                      <tr>
                          <td><h:outputLabel value="Contraseña"/></td>
                          <td>
                  <p:password id="password" feedback="false" 
                              goodLabel="Buena" promptLabel="Debil"
                              style="width: 210px"
                              strongLabel="Fuerte" weakLabel="Medio" required="true"
                              requiredMessage="Debe Digitar la Contraseña" value="#{personView.password}"/>
                 
                          </td><td> <p:message for="password" display="text"/></td>
                          </tr>
                          
              
                      <tr><td></td>
                          <td align="left">
                              <p:commandButton value="Iniciar Session" action="#{personView.login()}" ajax="false" update="panelSession"/> 
                          </td>
                       </tr>
                  </table>
              </p:fieldset>
                                  <p:messages redisplay="true"/>
                      </p:panel>
                          </td>
                      </tr>
                  </table>
               </h:form>
          </p:layoutUnit>
    </ui:define>
</ui:composition>
