<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="../css/AutionStyle.css"/>
        

    </h:head>
    <h:body>
        <p:layout fullPage="true">  
            <p:layoutUnit position="north"  header="Sistema de Subasta Inversa"
                          resizable="false" 
                          closable="false" collapsible="false" size="75"> 
                <ui:insert name="top"> 
                    <h:form id="closeSession">
                        <h:panelGrid columns="2">
                            <p:outputLabel value="Bienvenido :
                                #{personView.personLogged.name} #{personView.personLogged.lastName}"></p:outputLabel> 
                            <p:commandLink action="#{personView.logOut()}" value="Cerrar session" ajax="false">
                            </p:commandLink>
                        </h:panelGrid>
                    </h:form>
                </ui:insert>
             </p:layoutUnit>  

           
             <ui:insert name="left"> 
                <p:layoutUnit position="west"  header="Explorador de Objetos"
                    resizable="true"
                    collapsible="true" 
                    style="font-size:12px; font-family: Arial;" size="550"> 

                    <h:form prependId="false" id="formTree" >
                        
                        <h:panelGrid columns="1" >
                            <p:commandLink 
                                action="#{eventViewObject.managementEvent()}"
                                ajax="false"
                                value="Substas  disponibles "
                            />
                            <p:commandLink 
                                action="#{funcionaryViewObject.managementFuncionary()}" 
                                value="Administrar  Funcionarios"
                                ajax="false"/>
                            <p:commandLink action="#{inscriptionViewObject.managementInscription()}" 
                                value="Administrar  Inscripciones" 
                                ajax="false"/>
                            <p:commandLink action="#{inscriptionViewObject.managementAuction()}" 
                                value="Administrar  Convocatorias" 
                                ajax="false"/>
                        </h:panelGrid>
                     </h:form>        
                 </p:layoutUnit>   
            </ui:insert>
            <ui:insert name="content">
                <p:layoutUnit position="center" size="0">  
                    This fullPage layout consists of five different layoutUnits which are
                    resizable and closable by default. 
                </p:layoutUnit>
            </ui:insert>
            <p:layoutUnit 
                position="south"  
                header="" 
                resizable="false" 
                closable="false" collapsible="false" 
                style="text-align:center;font: caption" size="90">
                <ui:insert name="bottom">  
                    <p>
                        
                    </p>
                </ui:insert>
            </p:layoutUnit>  
        </p:layout>
    </h:body>
</html>

