<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="../css/AutionStyle.css"/>
        

    </h:head>
    <h:body>
        <p:layout fullPage="true">  
            

           
            
            <ui:insert name="content">
                <p:layoutUnit position="center" size="0">  
                    This fullPage layout consists of five different layoutUnits which are
                    resizable and closable by default. 
                </p:layoutUnit>
            </ui:insert>
            
            <p:layoutUnit 
                position="south"  
                header="" 
                resizable="false" 
                closable="false" collapsible="false" 
                style="text-align:center;font: caption" size="90">
                <ui:insert name="bottom">  
                    <p>
                        
                    </p>
                </ui:insert>
            </p:layoutUnit>  
        </p:layout>
    </h:body>
</html>

